<a class="header__link" href="https://lessy.app{% if page.language == 'pt-BR' %}/portugus{% endif %}/#contacts">
  {% if page.language == 'pt-BR' %}
    Contacte nos
  {% else %}
    Contacts
  {% endif %}
</a>