{% include utils/language.liquid %}
<a class="header__link" href="https://lessy.app{% if language == 'pt-BR' %}/portugus{% endif %}/#contacts">
  {% if language == 'pt-BR' %}
    Contacte nos
  {% else %}
    Contacts
  {% endif %}
</a>