<a class="header__link" href="https://lessy.app{% if page.language == 'pt-BR' %}/portugus{% endif %}/#retailers">
  {% if page.language == 'pt-BR' %}
    Para retalhistas
  {% else %}
    For retailers
  {% endif %}
</a>