<main class="main">
  <div class="main__wrapper{% if page.grid %} main__wrapper_grid{% endif %}">
    <div class="title">
      {% unless page.url == '/' %}
        <a class="title__breadcrumb" href="{{ '/' | relative_url }}">
          {% include i18n/legal_documents %}
        </a>
      {% endunless %}
      <div class="title__text-with-button">
        <h1 class="title__text">{{page.title}}</h1>
        {% unless page.url == '/' %}
          <a class="button" href="{{site.github.repository_url}}/commits/main{{page.url | replace: '.html', '.md'}}">
            {% include i18n/view_revision_history %}
          </a>
        {% endunless %}
      </div>
    </div>
    <div class="content">
      {{content}}
    </div>
  </div>
</main>