{% assign history_source_path = page.path | replace: ".md", ".history.md" %}
{% assign history_source_file = site.pages | where: "path", history_source_path  %}
{% assign history_link = page.url | replace: ".html", ".history.html" %}

<main class="main">
  <div class="main__wrapper{% if page.grid %} main__wrapper_grid{% endif %}">
    <div class="title">
      {% unless page.url == '/' %}
        <a class="title__breadcrumb" href="{{ '/' | relative_url }}">
          {% include i18n/legal_documents %}
        </a>
      {% endunless %}
      <div class="title__text-with-button">
        <h1 class="title__text">{{page.title}}</h1>
        {% if history_source_file.size != 0 %}
          <a class="button" href="{{ history_link }}">
            {% include i18n/view_revision_history %}
          </a>
        {% endif %}
      </div>
    </div>
    <div class="content{% if page.grid %} list-grid{% endif %}">
      {{content}}
    </div>
  </div>
</main>