<div class="title">
  {% include breadcrumbs.liquid %}
  <div class="title__text-with-button">
    <h1 class="title__text">{{ page.title }}</h1>
    {% include see_history_button.liquid %}
  </div>
</div>