.footer {
  text-align: center;
  height: 160px;
  background: url('../images/footer_left.svg') left top no-repeat,
    url('../images/footer_right.svg') right top no-repeat,
    url('../images/footer_center.svg') left top repeat-x;
  background-color: $color-brand-primary;
}

.footer__copyright {
  margin: 110px 0 0;
  color: $color-text-inverted-primary;
  font-size: $font-size-s;
  line-height: $font-size-s;
  font-weight: 500;
}

@media screen and (prefers-color-scheme: dark) {
  .footer {
    background-color: $color-darkmode-background-primary;
    background: url('../images/footer_left_darkmode.svg') left top no-repeat,
    url('../images/footer_right_darkmode.svg') right top no-repeat,
    url('../images/footer_center_darkmode.svg') left top repeat-x;
    background-color: $color-darkmode-brand-background;
  }

  .footer__copyright {
    color: $color-darkmode-text-primary;
  }
}

@media screen and (max-width: $media-query-mobile-max-width) {
  .footer__copyright {
    font-size: $font-size-mobile-s;
  }
}

@media print {
  .footer {
    height: fit-content;
    background: white;
  }

  .footer__copyright {
    text-align: left;
    color: $color-text-primary;
    margin: 20px 0 0 20px;
    font-size: $font-size-xs;
  }
}