.page {
  background-color: $color-background-page;
  font-family: $font-stack;
  min-width: 320px;
}

.page__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100svh;
}
