<!DOCTYPE html>
<html class="page" {% if page.language %}lang="{{page.language}}"{% endif %}>
  <head>
    <title>{{ page.title | escape }} - {{ site.title | escape }}</title>
    {% include head.liquid %}
  </head>
  <body class="page__wrapper">
    {% include header.liquid %}
    {% include main.liquid %}
    {% include footer.liquid %}
  </body>
</html>